* text=auto

/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
