* text=auto

# Directories
/.github export-ignore
/tests export-ignore

# Files
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/codeception.dist.yml export-ignore
/CONTRIBUTING.md export-ignore
/docker-compose.yml export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
