<?xml version="1.0"?>
<ruleset name="Extended CPTs">

	<config name="testVersion" value="7.0-"/>

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- Include the PHP version compatibility standard. -->
	<rule ref="PHPCompatibility"/>

	<!-- Include the Neutron standard. -->
	<rule ref="NeutronStandard">
		<exclude name="NeutronStandard.Globals.DisallowGlobalFunctions.GlobalFunctions"/>
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma"/>
		<exclude name="NeutronStandard.Functions.DisallowCallUserFunc.CallUserFunc"/>
		<exclude name="NeutronStandard.AssignAlign.DisallowAssignAlign.Aligned"/>
		<exclude name="NeutronStandard.Functions.LongFunction.LongFunction"/>
	</rule>

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra">
		<exclude name="PEAR.Functions.FunctionCallSignature"/>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="extended-cpts"/>
		</properties>
	</rule>

	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="4.8"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="additionalWordDelimiters" value="-/"/>
		</properties>
	</rule>

</ruleset>
