<?xml version="1.0"?>
<ruleset name="Extended CPTs">

	<config name="installed_paths" value="../../slevomat/coding-standard,../../wp-coding-standards/wpcs,../../wimg/php-compatibility,../../automattic/phpcs-neutron-standard" />
	<config name="testVersion" value="7.0-"/>

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<!-- Include the PHP version compatibility standard. -->
	<rule ref="PHPCompatibility"/>

	<!-- Include the Neutron standard. -->
	<rule ref="NeutronStandard">
		<exclude name="NeutronStandard.Globals.DisallowGlobalFunctions.GlobalFunctions"/>
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma"/>
		<exclude name="NeutronStandard.Functions.DisallowCallUserFunc.CallUserFunc"/>
	</rule>

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Extra"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="extended-cpts"/>
		</properties>
	</rule>

	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="4.8"/>
		</properties>
	</rule>

	<rule ref="SlevomatCodingStandard.Classes.UnusedPrivateElements"/>
	<rule ref="SlevomatCodingStandard.Namespaces.UnusedUses"/>
	<rule ref="SlevomatCodingStandard.Namespaces.UseFromSameNamespace"/>
	<rule ref="SlevomatCodingStandard.Exceptions.DeadCatch"/>
	<rule ref="SlevomatCodingStandard.ControlStructures.LanguageConstructWithParentheses"/>
	<rule ref="SlevomatCodingStandard.TypeHints.LongTypeHints"/>
	<rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration"/>

</ruleset>
