includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    # Please raise level.
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - functions.php
        - src/
    scanFiles:
        - functions.php
    scanDirectories:
        - src/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
        # p2p plugin
        - '#^Function (p2p_type|p2p_connection_exists) not found\.$#'
